.main-profile{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desc-profile{
    display: block;
}

.vm-profile{
    padding: 10px;
    margin: 8px;
    background-color: #F07070;
    display: block;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    color: #f5f5f5;
    text-align: center;
}