.header{
    background-image: url(../asset/copydesktop-wallpaper-kellogg-s-frosted-flakes-breakfast-cereal-original-33-5-oz-box.jpg);
    display: block;
    padding: 50px;
    text-align: center;
    color: #FEDF99;
}

.form{
    margin: 0 auto;
    background: linear-gradient(0.25turn,#CC2828,#F07070,#CC2828); 
    padding: 45px;
    font-weight: bold;
    color: #FEDF99;
}

.formformat label{
    display: block;
}

.formformat input[type="text"]{
    width: calc(100% - 20px);
    max-width: 100%; 
    margin: 0 auto 15px; 
    padding: 5px; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.checkbox-container{
    display: flex;
}

.button-container{
   padding: 0px;
   display: flex;
}